* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    white-space: nowrap;
}
h2{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-40%,-30%);
    font-size: 50px;
    white-space: nowrap;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(10, 117, 146);
    text-decoration: none;
}
.nav h3{
    font-size: 30px;
}
.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: transparent; 
}
.nav div a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

